body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: #f4f4f4;
}

/* Main admin panel page */

table {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: fit-content;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    border: 1px solid #ccc
}

.section {
    margin: 20px 0
}

.product td:first-of-type {
    text-align: left;
}

.edit-row {
    background-color: #dadada;
}

.edit-row input {
    margin: 0 8px;
}

/* .edit-row input { */
/*     width: 100px; */
/* } */

/* .edit-row input:nth-of-type(2) { */
/*     width: 180px; */
/* } */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=color] {
    margin: 0 5px
}
